<header class="app-header">
  <nav class="navbar navbar-red navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">Schema.laji.fi</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/class">{{'classes' | translate}}</a>
          </li>
          <li>
            <ng2-completer [(ngModel)]="searchStr"
                           [dataService]="dataService"
                           [minSearchLength]="2"
                           [clearSelected]="true"
                           [fieldTabindex]="1"
                           [placeholder]="'search'|translate"
                           (selected)="onSelect($event)"></ng2-completer>
          </li>
        </ul>
        <div class="form-group form-group-sm">
          <div class="col-sm-1 col-md-1 pull-right lang-select">
            <a (click)="setLang('fi')">FI</a>&nbsp;<a (click)="setLang('en')">EN</a>&nbsp;<a (click)="setLang('sv')">SV</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>