<div class="container">
  <div *ngIf="data.classes">
    <h1>{{'classes' | translate}}</h1>
    <p [innerHtml]="('class.intro' | translate) + ('fullUri' | translate:{value: 'MY.document'})">.</p>
    <table class="table table-bordered table-condensed table-hover table-striped class-list-table">
      <thead>
      <tr>
        <th>{{'list.ns' | translate}}</th>
        <th>{{'list.class' | translate}}</th>
        <th>{{'list.description' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let meta of data.classes">
        <td>{{meta.ns}}</td>
        <td><a routerLink="/class/{{meta['class']}}">{{meta.shortName}}</a></td>
        <td>
          <div *ngIf="meta.label">
            {{meta.label}}
          </div>
          <div [innerHtml]="meta.comment"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="data.classData">
    <h1>{{'class' | translate}} {{data.classData['class']}}</h1>
    <p *ngIf="data.classData.label"><strong>{{data.classData.label}}</strong></p>
    <p *ngIf="data.classData.comment" [innerHtml]="data.classData.comment"></p>
    <p [innerHtml]="('property.intro' | translate) + ('fullUri' | translate:{value: 'MY.notes'})">.</p>
    <table class="table table-bordered table-condensed table-hover table-striped class-table">
      <thead>
      <tr>
        <th>{{'list.ns' | translate}}</th>
        <th>{{'list.property' | translate}}</th>
        <th>{{'list.acceptedValues' | translate}}</th>
        <th>{{'list.description' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let property of data.classData.properties"
          [ngClass]="{highlight: property.property === highLight}">
        <td>
          {{property.ns}}
        </td>
        <td>
          <a routerLink="/property/{{property.property}}">{{property.shortName}}</a>
        </td>
        <td>
          <span *ngIf="property.hasMany">{{'arrayOf' | translate}}</span>
          <span *ngFor="let range of property.range">
            <span [ngSwitch]="getRangeType(range)">
              <span *ngSwitchCase="'xsd'">{{range}}</span>
              <span *ngSwitchCase="'class'"><a routerLink="/class/{{range}}">{{range}}</a></span>
              <span *ngSwitchCase="'alt'"><a routerLink="/alt/{{range}}">{{range}}</a></span>
            </span>
          </span>
        </td>
        <td>
          <strong>{{property.label || property.property}}</strong> <span *ngIf="property.required" class="label label-danger">required</span><br>
          <span [innerHtml]="property.comment"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="data.property">
    <h1>{{'property' | translate}} {{data.property.property}}</h1>
    <p *ngIf="data.property.label"><strong>{{data.property.label}}</strong></p>
    <p *ngIf="data.property.comment" [innerHtml]="data.property.comment"></p>
    <p><strong>{{'range'| translate}}:</strong> <span *ngIf="data.property.hasMany">{{'arrayOf' | translate}}</span>
      <span *ngFor="let range of data.property.range">
        <span [ngSwitch]="getRangeType(range)">
          <span *ngSwitchCase="'xsd'">{{range}}</span>
          <span *ngSwitchCase="'class'">{{'class' | translate}} <a routerLink="/class/{{range}}">{{range}}</a></span>
          <span *ngSwitchCase="'alt'">{{'alt' | translate}} <a routerLink="/alt/{{range}}">{{range}}</a></span>
        </span>
      </span><br>
      <strong>{{'minOccurrence'| translate}}:</strong> {{data.property.minOccurs}}<br>
      <strong>{{'maxOccurrence'| translate}}:</strong> {{data.property.maxOccurs|translate}}
    </p>
    <p [innerHtml]="'fullUri' | translate:{value: data.property.property}"></p>
    <table class="table table-bordered table-condensed table-hover property-table">
      <thead>
      <tr>
        <th>{{'list.usedInClass' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let domain of data.property.domain">
        <td><a routerLink="/class/{{domain}}/{{data.property.property}}">{{domain}}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="data.alt">
    <h1>{{'alt' | translate}} {{altId}}</h1>
    <table class="table table-bordered table-condensed table-hover table-striped alt-table">
      <thead>
      <tr>
        <th>{{'list.value' | translate}}</th>
        <th>{{'list.description' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let alt of data.alt">
        <td>{{alt.id}}</td>
        <td>{{alt.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>