html {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 50px;
  height: 100%;
}

.completer-input {
  margin: 12px 0 0 10px;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #2980B9;
}

.lang-select {
  font-size: small;
  padding-top: 15px;
}

.lang-select a {
  cursor: pointer;
}

.highlight {
  background-color: #fff073 !important;
}

.navbar {
  margin-bottom: 0;
  background-color: #3498DB;
  border-color: #2980B9;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
  background-color: #2980B9;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #2980B9;
  border-color: #2980B9;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #2980B9;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #2980B9;
}

.navbar-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-toggle {
  border-color: #2980B9
}

.navbar-brand {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar .active a {
  color: #ffffff;
  font-weight: 500;
  background-color: #2980B9;
}

.navbar a {
  color: #ffffff !important;
  font-weight: 500;
}

.navbar-link, .navbar-profile .language-toggle {
  color: #ffffff;
  background: none !important;
}

.dropdown-menu .navbar-link {
  color: #333 !important;
}