<div class="container">
  <h1>{{'home.title' | translate}}</h1>
  <p>{{'home.intro1' | translate}}</p>
  <p>{{'home.intro2' | translate}} <a href="https://laji.fi">laji.fi</a>.</p>
  <p><a routerLink="/class">{{'home.list' | translate}}</a></p>
</div>